<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Tailwind CSS -->
    <link href="/styles/output.css" rel="stylesheet" />
    <!-- Flowbite -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
        rel="stylesheet"
    />
    <!-- QR Code reader -->
    <script
        src="https://unpkg.com/html5-qrcode"
        type="text/javascript"
    ></script>

    <!-- QR Code generator -->
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
</head>
