<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "My Profile"})%>

    <body>
        <main class="h-screen bg-slate-100">
            <%- include('./partials/layout') %>

            <div class="p-4 sm:ml-64 h-screen overflow-auto">
                <h1 class="text-xl">My Profile</h1>
            </div>
        </main>
    </body>
</html>
